
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap');
/*한글폰트 sunflower
font-family: 'Sunflower', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');
/*영어폰트 zen loop
font-family: 'Zen Loop', cursive;
*/

body{
    background-color: rgb(243, 252, 255);
}

.girls_best{
    height:300px;
    width:100%;
}


.girls{
  width:50%;
  height:75%;
  float:left;
}

.girls_button{
    background-color: #9499b7;
    border: none;
    color: rgb(7, 7, 7);
    padding: 50px 50px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    flex-grow:1;
    width:50%;
    height:75%;
    margin-left:50%;
    margin-top:50%;
    margin:auto;
    display:block;
}

.hotping_best{
    height:300px;
    width:100%;
}


.hotping{
    width:50%;
    height:75%;
    float:right;
}

.hotping_button{
    background-color: #c5cae9;
    border: none;
    color: rgb(7, 7, 7);
    padding: 50px 50px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    flex-grow:1;
    width:50%;
    height:75%;
    margin-left:50%;
    margin-top:50%;
    margin:auto;
    display:block;
}

.slowand_best{
    height:300px;
    width:100%;
}


.slowand{
    width:50%;
    height:75%;
    float:left;
}

.slowand_button {
    background-color: #b6b8c3;
    border: none;
    color: rgb(7, 7, 7);
    padding: 50px 50px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    flex-grow:1;
    width:50%;
    height:75%;
    margin-left:50%;
    margin-top:50%;
    margin:auto;
    display:block;
}

.ririnco_best{
    height:300px;
    width:100%;
}


.ririnco{
    width:50%;
    height: 75%;
    float:right;
}

.ririnco_button {
    background-color: #9499b7;
    border: none;
    color: rgb(7, 7, 7);
    padding: 50px 50px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    flex-grow:1;
    width:50%;
    height:75%;
    margin-left:50%;
    margin-top:50%;
    margin:auto;
    display:block;
}

h1{
    font-size:50px;
    font-weight:1000;
    border : 5px solid #d1d9ff;
    padding : 5px;
    height: 100px;
    line-height: 100px;
    letter-spacing: 0.2em; /*자간 조절*/
    text-align : center; /* 텍스트 정렬 - 중앙 */
    color :black;
    font-family: 'Zen Loop', cursive; /*글꼴지정*/
    background-color: rgb(255, 255, 255);
}
