
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap');
/*한글폰트 sunflower
font-family: 'Sunflower', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');
/*영어폰트 zen loop
font-family: 'Zen Loop', cursive;
*/
h1{
    font-size:50px;
    font-weight:1000;
    border : 5px solid rgb(82, 80, 80);
    padding : 5px;
    height: 100px;
    line-height: 100px;
    letter-spacing: 0.2em; /*자간 조절*/
    background-color: lightcoral;
    text-align : center; /* 텍스트 정렬 - 중앙 */
    color : lavender; /* 글자색 - 연보라 */
    font-family: 'Zen Loop', cursive; /*글꼴지정*/
}

